@tailwind utilities;
@tailwind base;
@tailwind components;

:root {
    --width-xl: 1440px;
}

body {
    font-family: Lato, sans-serif;
}

main {
    max-width: var(--width-xl);
    @apply mx-auto;
}

@layer components {
    .btn-gradient {
        @apply rounded-lg bg-gradient-to-r from-danube-50 border-2 border-danube-50 to-danube-100 p-2;

        &:hover {
            @apply from-danube-200 to-danube-300 border-danube-400;
        }
    }

    .btn-gradient-outline {
        @apply rounded-lg bg-gradient-to-r from-danube-50 border-2 border-danube-50 to-danube-100 p-2;

        &:hover {
            @apply from-danube-200 to-danube-300 border-danube-400;
        }
    }
}

a {
    @apply text-slate-500;

    &:hover {
        @apply text-slate-700;
    }
}