@tailwind utilities;
@tailwind base;
@tailwind components;

:root {
    --width-xl: 1440px;
}

body {
    font-family: Lato, sans-serif;
}

main {
    max-width: var(--width-xl);
    @apply mx-auto;
}

@layer components {
    .btn {
        @apply bg-gradient-to-r;
        @apply from-danube-50;
        @apply to-danube-100;
    }
}